<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sence"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:replace="android:theme">
        <activity android:name=".activity.SystemInformActivity">
        </activity>
        <activity android:name=".activity.InformActivity">
        </activity>
        <activity android:name=".activity.ImgFlexActivity">
        </activity>
        <activity android:name=".activity.MessageHDActivity">
        </activity> <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/> <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"

            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".activity.OpenVipPageActivity">
        </activity>
        <activity android:name=".activity.CommitTagActivity">
        </activity> <!-- 拍照7.0文件共享适配 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".activity.chat.ui.ChatMsgActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.chat.ui.FullImageActivity"/>
        <activity android:name=".activity.MessageActivity">
        </activity>
        <activity android:name=".activity.CardListActivity">
        </activity>
        <activity android:name=".activity.CardAddActivity">
        </activity>
        <activity android:name=".activity.ServeListActivity">
        </activity>
        <activity android:name=".activity.GoodListActivity">
        </activity>
        <activity android:name=".activity.MapActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.TestBaseActivity">
        </activity>
        <activity android:name=".activity.EditInfoActivity">
        </activity>
        <activity android:name=".activity.AddTagActivity">
        </activity>
        <activity android:name=".activity.MyFansFocusNoteActivity">
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity android:name=".activity.CardActivity">
        </activity>
        <activity android:name=".activity.CashActivity">
        </activity>
        <activity android:name=".activity.RechargeActivity">
        </activity>
        <activity android:name=".activity.OpenVipActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.ShopConfirmOrderActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyAccountActivity">
        </activity>
        <activity android:name=".activity.MemberActivity">
        </activity>
        <activity android:name=".VerifyActivity">
        </activity>
        <activity android:name=".BindPhoneActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".activity.ContentDetailActivity"/>
        <activity android:name=".activity.NoteDetailActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.EnjoyVipActivity"/>
        <activity android:name=".activity.MyOrderActivity"/>
        <activity android:name=".activity.ConfirmOrderActivity"/>
        <activity android:name=".activity.ManageAddressActivity"/>
        <activity android:name=".activity.MyInfoActivity"/>
        <activity android:name=".activity.ShopDetailsActivity"/>
        <activity android:name=".activity.OrderDetailsActivity"/>
        <activity android:name=".activity.ServiceDetailsActivity"/>
        <activity android:name=".activity.ShopCommendActivity"/>
        <activity android:name=".activity.AddAddressActivity"/>
        <activity android:name=".activity.ServiceCommentActivity"/>
        <activity
            android:name=".activity.OrderCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserDetailActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.AutonymActivity"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b9423c91ab0d7939f4a816ee945a54c4"/>
    </application>

</manifest>