<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sence">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".base.BaseApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".activity.OpenVipActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.MyNoteActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".wxapi.WXEntryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".activity.MyAccountActivity">
        </activity>
        <activity android:name=".activity.MemberActivity">
        </activity>
        <activity android:name=".activity.CommentReleaseActivity">
        </activity>
        <activity android:name=".activity.MyFocusActivity">
        </activity>
        <activity android:name=".activity.MyFansActivity">
        </activity>
        <activity android:name=".VerifyActivity">
        </activity>
        <activity android:name=".BindPhoneActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".activity.ContentDetailActivity"/>
        <activity android:name=".activity.NoteDetailActivity"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.EnjoyVipActivity"/>
        <activity android:name=".activity.MyOrderActivity"/>
        <activity android:name=".activity.ConfirmOrderActivity"/>
        <activity android:name=".activity.ManageAddressActivity"/>
        <activity android:name=".activity.MyInfoActivity"/>
        <activity android:name=".activity.ShopDetailsActivity"/>
        <activity android:name=".activity.OrderDetailsActivity"/>
        <activity android:name=".activity.ServiceDetailsActivity"/>
        <activity android:name=".activity.ShopCommendActivity"/>
        <activity android:name=".activity.AddAddressActivity"></activity>
        <activity android:name=".activity.ServiceCommentActivity"></activity>
    </application>

</manifest>